.cardContainer{
  padding-top: 25px;
}
.cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin: 0;
  padding: 0;
}
.cardItem {
  width: 150px;
  height: auto;
  padding-bottom: 5px;
  list-style-type: none;
  border-radius: 5px;
  border-radius: 5px;
  box-shadow: rgb(123 212 235) 0px 0px 10px 1px;
}
.cardImg{
  width: 100%;
  min-height: 225px;
  border-radius: 5px;
  border-bottom: 1px solid gray;
}
.cardText{
  margin: 10px 0 0 0;
  padding: 0 3px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}
.cardSubject{
  margin: 10px 0 0 0;
  padding: 0 3px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #9e9999;
}
.cardCharaster{
  font-weight: 700;
  color: black;
}
.lightTheme {
  composes: cardText;
  color: black;
}

.darkTheme {
  composes: cardText;
  color: #539bf5;
}
