.movieBtn {
  margin: 0 auto 25px auto;
  padding: 5px 25px 5px 18px;
  display: flex;
  align-items: center;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  border-radius: 5px;
  border: 1px solid var(--borderColor);
  background-color: var(--accentMain);
  color: var(--textColorWhite);
  transition-duration: 800ms;
}
.movieBtn:hover{
  box-shadow: var(--accentSecond) 0px 0px 10px 1px;
  transition-duration: 800ms;
}
.arrowLeft{
  margin-right: 7px;
  fill: var(--textColorWhite);
}

.movieInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid var(--borderColor);
  padding-bottom: 15px;
}

.movieInfoImage {
  width: 320px;
  border-radius: 5px;
  box-shadow: var(--borderColorCard) 0px 0px 10px 1px;
}
.movieDetailsContainer {
  padding: 20px 15px 20px 20px;
  margin: 0;
}
.movieDetailsTitle{
  margin: 0 0 25px 0;
  font-weight: 700;
}
.lightTheme {
  composes: movieDetailsTitle;
  color: var(--accentMain);
}

.darkTheme {
  composes: movieDetailsTitle;
  color: var(--textColorTheme);
}
.movieDetailsSubject{
  margin: 0 0 20px 0;
  color: black;
  font-weight:600;
}
.movieDetailsSubjectLight{
  composes: movieDetailsSubject;
  font-weight: 400;
}
.movieDetailsSubjectDark {
  composes: movieDetailsSubject;
  color: var(--textColorSecond);
  font-weight: 400;
}

.movieDetailsScore{
  margin-left: 7px;
  font-weight: 500;
  color:var(--accentSecond);
}
.movieDetailsText{
  margin: 0 0 15px 0;
}

.movieDetailsList {
  margin: 0;
  padding-inline-start: 0px;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.lightThemeList {
  composes: movieDetailsList;
  color: var(--textColorBleak);
}

.darkThemeList {
  composes: movieDetailsList;
  color: var(--textColorSecond);
}

.additionalInfoContainer {
  padding: 25px 0 30px 0;
  border-bottom: 2px solid var(--borderColor);
}
.additionalTitle{
  text-align: center;
  margin-top: 0;
  color: var(--accentMain);
}
.additionalTitleLight{
text-align: center;
  margin-top: 0;
  color: var(--accentMain);
}
.additionalTitleDark{
text-align: center;
  margin-top: 0;
  color: var(--textColorTheme);
}
.additionalInfoList{
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0;
  width: 350px;
  list-style: none;
}
.additionalInfoItem{
  font-size: 24px;
    font-weight: 700;
    border-radius: 5px;
    border: 1px solid var(--borderColor);
    width: 140px;
    height: 45px;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: var(--borderColorCard) 0px 0px 10px 1px;
    color: var(--textColorBleak);
    transition-duration: 800ms;
    
}
.additionalInfoItem:hover,
.additionalInfoItem:focus{
  background-color: var(--borderColorCard);
  transition-duration: 800ms;
}

@media screen and (min-width: 768px) {
  .movieInfoContainer {
    flex-direction: row;
    align-items: flex-start;
  }
  .movieBtn{
    margin: 0 0 25px 0;
  }
  .movieDetailsContainer{
    width: 360px; 
  }
}
@media screen and (min-width: 1280px){
.movieDetailsContainer {
    width: 500px;
  }
    .movieInfoContainer {
      background-image: url('../../images/pngegg1.webp');
      background-repeat: no-repeat;
      background-size: 30%;
      background-position: 100% 50%;
    }
}