.list{
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 20px;
    list-style: none;
}
.listItem{
    position: relative;
    width: 320px;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: var(--backgroundColorSecond) 0px 0px 10px 1px;
    transition-duration: 1000ms;
}
.listItem:hover{
    transform: scale(1.04);
    transition-duration: 1000ms;
}
.listImage{
    width: 100%;
    object-fit: cover;
    border: none;
    border-radius: 5px;
}

.listTitle{
    margin: 0;
    padding: 20px 5px;
    font-weight: 700;
    font-size: 20px;
    color: var(--textColorBleak);
}

.lightTheme {
    composes: listTitle;
    color: var(--textColorBleak);
}

.darkTheme {
    composes: listTitle;
    color: var(--textColorTheme);
}

.containerVote{
    position: absolute;
    top: 10px;
    right: 10px;
    min-width: 55px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border-radius: 5px;
    background-color: var(--backgroundColorSecond);
    color: var(--accentMain);
}
@media screen and (min-width: 768px) {
    .listItem{
        width: 300px;
    }
}

@media screen and (min-width: 1280px) {
    .list {
        gap:30px
    }
    .listItem {
        width: 350px;
    }
}