.list{
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 20px;
    list-style: none;
    /* grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); */
}
.listItem{
    width: 360px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.listImage{
    width: 100%;
    object-fit: cover;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    border-radius: 5px;
}
.listText{
    margin: 0;
    padding: 20px 5px;
    color: #000;
}
@media screen and (min-width: 768px) {
    .listItem{
        width: 339px;
    }
}

@media screen and (min-width: 1280px) {
    .list {
        gap:30px
    }
    .listItem {
        width: 284px;
    }
}