.list{
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 20px;
    list-style: none;
}
.listItem{
    width: 360px;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: var(--backgroundColorSecond) 0px 0px 10px 1px;
    transition-duration: 1000ms;
}
.listItem:hover{
    transform: scale(1.04);
    transition-duration: 1000ms;
}
.listImage{
    width: 100%;
    object-fit: cover;
    border: none;
    border-radius: 5px;
}
.listText{
    margin: 0;
    padding: 20px 5px;
    color: var(--textColorBleak);
}

.lightTheme {
    composes: listText;
    color: var(--textColorBleak);
}

.darkTheme {
    composes: listText;
    color: var(--textColorTheme);
}

@media screen and (min-width: 768px) {
    .listItem{
        width: 339px;
    }
}

@media screen and (min-width: 1280px) {
    .list {
        gap:30px
    }
    .listItem {
        width: 284px;
    }
}