.moviesTitle{
    text-align: center;
    margin-top: 0;
    font-weight: 700;
    font-size: 36px;
}
.lightTheme {
    composes: moviesTitle;
    color: var(--textColorBleak);
}

.darkTheme {
    composes: moviesTitle;
    color: var(--textColorTheme);
}