.switcher {
  min-width: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 89px;
  right: 90px;
}

@media screen and (min-width: 768px) {
  .switcher {
    top: 17px;
    right: 25px;
  }
}

@media screen and (min-width: 1280px) {
  .switcher {
    top: 130px;
    right: 120px;
  }
}
.wraper{
  height: 35px
}

.active {
  border: none;
  background: none;
  padding: 0;
  height: 35px;
}

.button {
  composes: active;
  cursor: no-drop;
  opacity: 0.5;
}
