.header {
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-size: calc(10px + 2vmin);
  color: var(--textColorWhite);
}

.lightTheme {
  composes: header;
  background-color: var(--backgroundColorSecond);
  
}

.darkTheme {
  composes: header;
  background-color: var(--backgroundColorThird);
}
.headerLink{
  color:var(--accentMain);
  font-weight: 700;
}