.header {
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-size: calc(10px + 2vmin);
  color: var(--textColorWhite);
  background-color: var(--backgroundColorSecond);
}