.footer{
    padding: 40px 0;
    display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(77, 228, 252, 0.2);
}
.footerLink{
    margin-left: 10px;
    /* font-family: 'Indie Flower', cursive; */
    font-family: 'Great Vibes', cursive;
    font-weight: 700;
    font-size: 22px;
    color: #000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105px;
    height: 30px;
    /* border-bottom: 1px solid #000; */
}