.footer{
    padding: 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: var(--backgroundColorSecond); */
}
.footerLink{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 105px;
    height: 30px;
    font-family: 'Great Vibes', cursive;
    font-weight: 700;
    font-size: 22px;
    color: var(--accentMain);
    cursor: pointer;
    transition-duration: 800ms;
}
.footerLink:hover{
    transform: scale(1.08);
    transition-duration: 800ms;
}

.lightTheme {
    composes: footer;
    background-color: var(--backgroundColorSecond);

}

.darkTheme {
    composes: footer;
    background-color: var(--backgroundColorThird);
}