.reviewList{
    list-style: none;
}

.reviewTitle{
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;
    
}
.reviewSubtitle{
    font-weight: 700;
    margin-left: 7px;
    color: var(--accentMain);
}
.lightTheme {
    composes: reviewSubtitle;
    color: var(--accentMain);
}

.darkTheme {
    composes: reviewSubtitle;
    color: var(--textColorTheme);
}
.reviewText{
    color: var(--textColorSecond);
    margin: 0;
}
