@import-normalize;

@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500&display=swap");

body {
  font-family: "Montserrat Alternates", sans-serif;
  color: black;
}

* {
  text-decoration: none;
}

input {
  padding: 8px 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

button {
  padding: 7px 10px;
  margin: 5px 5px;
  border-radius: 5px;
  border: black;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  color: rgb(8, 8, 8);
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
}
img {
  width: 250px;
}
/* li {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  max-width: calc(100vw - 80px);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 50px;
} */
