@import-normalize;

@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body {
  font-family: "Montserrat Alternates", sans-serif;
  color: black;
  margin: 0;
  /* position: fixed; */
  background-image: url('./images/zadnii-fon-dlya-saita.jpg');
  /* background-repeat: no-repeat; */
  /* background-position: 100%; */
  /* background-color: #19352f; */
  /* min-height: 100%; */
  /* width:  100vw; */
    /* height: 100vh; */
    overflow: hidden;
}

* {
  text-decoration: none;
}


button {
  border: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgb(8, 8, 8);
  text-align: center;
  cursor: pointer;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
